<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/main.css">
    <script>
        {{#hasReferences}}
        function loadValues(model, values, label, controlId) {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", `../../../api/${model}/${values}`, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200 && values) {
                    var control = document.getElementById(controlId);
                    var response = JSON.parse(this.responseText);
                    if (response.constructor === Array)
                        control.textContent = response.map(row => {
                            return row[label]
                        }).join();
                    else
                        control.textContent = response[label];
                }
            }
            xhr.send();
        }

        window.onload = function () {
            {{#references}}
            loadValues('{{model}}', '{{{values}}}', '{{label}}', 'label{{model}}value');
            {{/references}}
        }
        {{/hasReferences}}
    </script>
</head>
    
<body>
    {{>menu}}
    <div class="content">
        <h2>{{title}}</h2>
        {{#properties}}
        <div style="margin-bottom:10px;">
            <label>{{name}}:</label>
            <label>{{value}}</label>
        </div>
        {{/properties}}
        {{#references}}
        <div style="margin-bottom:10px;">
            <label>{{model}}:</label>
            <label id="label{{model}}value"></label>
        </div>
        {{/references}}
    </div>
</body>

</html>